<table id="models">
    <thead>
        <tr>
            <th>Name</th>
            <th>URL</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for model in models %}
    <tr>
        <td><a href="{{ model.repository_url }}">{{ model.name }}</a></td>
        <td>{{ model.url }}</td>
        <td>{{ model.description }}</td>
        <td>
            <input onclick="start_download_model(this, '{{ model.url }}', '{{ model.tags[0] }}')" 
                   type="button"  
                   class="gr-button gr-button-lg gr-button-secondary"
                   value={%- if model.is_downloaded -%} "Downloaded" {%- else -%} "Download" {%- endif -%}
                   {%- if model.is_downloaded -%} disabled {%- endif -%}>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>